.header{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}
.align__left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.align__center{
    text-align: center;
}
.align__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}